.restaurant-placeholder {
  margin: 0.35rem 0;
  padding-right: 1.5rem;
}
.restaurant-placeholder img {
  margin-right: 0.35rem;
  height: 1.125rem;
  width: 1.125rem;
}
.restaurant-placeholder > div:last-child {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.9;
  padding-top: 0.3rem;
}
.restaurant-placeholder:not(:last-child) {
  border-right: 1px solid var(--grey-text);
}
