.dish {
  font-size: 1rem;
  margin-top: 0;
  /* min-height: 100vh; */
  position: relative;
  font-weight: 400;
  margin-left: 10%;
  column-gap: 10rem;
}
.dish-items {
  column-gap: 1rem;
}
.sidebar-links {
  width: 18.75rem;
}
.empty-block {
  text-align: center;
  margin-top: 10rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.dish-cart {
  width: 25%;
  height: calc(100vh - 15.625rem);
  position: sticky;
  top: var(--restaurant-section-height, 15.625rem);
  padding-top: var(--dish-top-padding);
}

.cart-empty h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--grey-text);
  margin-bottom: 2.5rem;
}
.cart-empty-icon-label {
  display: inline;
}
.cart-empty-icon-label img {
  height: 13.25rem;
  width: 80%;
  margin-bottom: 1.25rem;
}
.cart-empty-icon-label span {
  display: block;
  opacity: 0.9;
  color: var(--grey-text);
  word-spacing: 2px;
  line-height: 1.2rem;
  max-width: 15rem;
}
