.cart-item {
  height: max-content;
}
.cart-item > div:first-child > h6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0.7rem;
  max-width: 200px;
}

.cart-item p {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.8;
}
.cart-item-btn {
  width: 9rem;
}
