.cart-header {
  margin-bottom: 1rem;
}
.cart-header > h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.cart-subtotal {
  margin-bottom: 1.5rem;
}
.cart-subtotal > h4 {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  flex-grow: 1;
}
.cart-subtotal > span {
  font-weight: 600;
  font-size: 1rem;
}

.cart-btn {
  border: none;
  color: var(--white-text);
  height: 3.625rem;
}
