.plus-minus-btn {
  --primary-color: #ff8c42;
  --grey-text: #686b78;
  --grey-shade-border: 0.5px solid var(--grey-text);
  margin: 0 1rem;
  width: 5rem;
  height: 2rem;
  border: var(--grey-shade-border);
  border-radius: 5px;
  color: var(--primary-color);
  column-gap: 0.4rem;
}

.plus-minus-btn > .decrement {
  color: var(--grey-text);
  opacity: 0.9;
  cursor: pointer;
}
.plus-minus-btn > .quantity {
  margin: 0 0.25rem;
  font-size: 0.9rem;
}
.plus-minus-btn > .increment {
  cursor: pointer;
  font-size: 1.1rem;
}
.plus-minus-btn > .increment:hover {
  font-weight: 500;
  transform: scale(1.5);
}
